*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.exa
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
*.xdy
*.tdo
.sconsign.dblite
*.fls
*.mintedcmd
*.mintedmd5
*.pyg
_minted-*/
SAC_Docs.pdf
