#
# Build and deploy the documentation
#
name: Deploy

on:
  pull_request: # enable pull_request for testing
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      # Cancel previous runs that are not completed
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.0

      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Set up Python
        uses: actions/setup-python@v2

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build HTML documentaiton
        run: make build_html

      - name: Install TinyTeX
        uses: r-lib/actions/setup-tinytex@v1

      - name: Install LaTeX packages
        run: |
          tlmgr update --self
          tlmgr install capt-of ctex datetime2 enumitem everysel fancyhdr \
                        fandol float ms needspace oberdiek parskip sourcecodepro tabulary \
                        titlesec tracklang ulem upquote varwidth wrapfig \
                        xcolor xecjk zhnumber
          # Update the fonts
          sudo cp -r ~/.TinyTeX/texmf-dist/fonts/opentype/adobe/ /usr/share/fonts/opentype
          fc-cache -f -v

      - name: Build PDF documentaiton
        run: make build_pdf

      - name: Deploy documentation
        uses: peaceiris/actions-gh-pages@068dc23d9710f1ba62e86896f84735d869951305
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/dirhtml
          # Only keep the latest commit to avoid bloating the repository
          force_orphan: true
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
